<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="1.1.14"
        android-versionCode="27501"
        ios-CFBundleVersion="27501"
        id="me.inesn.hanu">

    <name>Hanu Connections</name>
    <description>A social network that helps all Hanu's members stay connected and interact with the community on functioned purposes</description>
    <author href="https://inevn.com" email="chipidle@msn.com">I&amp;E Corp.</author>
    <content src="index.html" />

    <preference name="Orientation" value="portrait" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="fullscreen" value="true" />
    <preference name="stay-in-webview" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="OpenAllWhitelistURLsInWebView" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="KeepRunning" value="true" />
    <preference name="UIWebViewDecelerationSpeed" value="fast" />
    <preference name="useBrowserHistory" value="true" />
    <preference name="keyboardDisplayRequiresUserAction" value="false" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="iosPersistentFileLocation" value="Library" />

    <preference name="phonegap-version" value="cli-8.0.0" />

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <resource-file src="GoogleService-Info.plist" />
    </platform>
    <plugin name="phonegap-plugin-push" spec="~2.1.2">
        <variable name="FCM_VERSION" value="11.0.1" />
    </plugin>
    <engine name="android" spec="~7.0.0" />
    <engine name="ios" spec="~4.5.4" />
</widget>