<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="1.1.14"
        android-versionCode="27501"
        ios-CFBundleVersion="27501"
        id="me.inesn.hanu">

    <name>Hanu Connections</name>
    <description>A social network that helps all Hanu's members stay connected and interact with the community on functioned purposes</description>
    <author href="https://inevn.com" email="chipidle@msn.com">I&amp;E Corp.</author>
    <content src="index.html" />

    <preference name="Orientation" value="portrait" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="fullscreen" value="true" />
    <preference name="stay-in-webview" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="OpenAllWhitelistURLsInWebView" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="KeepRunning" value="true" />
    <preference name="UIWebViewDecelerationSpeed" value="fast" />
    <preference name="useBrowserHistory" value="true" />
    <preference name="keyboardDisplayRequiresUserAction" value="false" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="iosPersistentFileLocation" value="Library" />

    <preference name="phonegap-version" value="cli-8.0.0" />

    <platform name="android">
        <preference name="ErrorUrl" value="file:///android_asset/www/error.html"/>
        <resource-file src="google-services.json" target="app/google-services.json" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <preference name="ErrorUrl" value="error.html"/>
        <resource-file src="GoogleService-Info.plist" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <icon src="res/icon/android/hanu/drawable-ldpi-icon.png"         platform="android" density="ldpi" />
    <icon src="res/icon/android/hanu/drawable-mdpi-icon.png"         platform="android" density="mdpi" />
    <icon src="res/icon/android/hanu/drawable-hdpi-icon.png"         platform="android" density="hdpi" />
    <icon src="res/icon/android/hanu/drawable-xhdpi-icon.png"        platform="android" density="xhdpi" />
    <icon src="res/icon/android/hanu/drawable-xxhdpi-icon.png"       platform="android" density="xxhdpi" />
    <icon src="res/icon/android/hanu/drawable-xxxhdpi-icon.png"      platform="android" density="xxxhdpi" />

    <icon src="res/icon/ios/hanu/icon-1024.png"                    platform="ios" width="1024" height="1024" />
    <icon src="res/icon/ios/hanu/icon.png"                         platform="ios" width="57"   height="57" />
    <icon src="res/icon/ios/hanu/icon@2x.png"                      platform="ios" width="114"  height="114" />
    <icon src="res/icon/ios/hanu/icon-40.png"                      platform="ios" width="40"   height="40" />
    <icon src="res/icon/ios/hanu/icon-40@2x.png"                   platform="ios" width="80"   height="80" />
    <icon src="res/icon/ios/hanu/icon-50.png"                      platform="ios" width="50"   height="50" />
    <icon src="res/icon/ios/hanu/icon-50@2x.png"                   platform="ios" width="100"  height="100" />
    <icon src="res/icon/ios/hanu/icon-60.png"                      platform="ios" width="60"   height="60" />
    <icon src="res/icon/ios/hanu/icon-60@2x.png"                   platform="ios" width="120"  height="120" />
    <icon src="res/icon/ios/hanu/icon-60@3x.png"                   platform="ios" width="180"  height="180" />
    <icon src="res/icon/ios/hanu/icon-72.png"                      platform="ios" width="72"   height="72" />
    <icon src="res/icon/ios/hanu/icon-72@2x.png"                   platform="ios" width="144"  height="144" />
    <icon src="res/icon/ios/hanu/icon-76.png"                      platform="ios" width="76"   height="76" />
    <icon src="res/icon/ios/hanu/icon-76@2x.png"                   platform="ios" width="152"  height="152" />
    <icon src="res/icon/ios/hanu/icon-small.png"                   platform="ios" width="29"   height="29" />
    <icon src="res/icon/ios/hanu/icon-small@2x.png"                platform="ios" width="58"   height="58" />
    <icon src="res/icon/ios/hanu/icon-small@3x.png"                platform="ios" width="87"   height="87" />

    <splash src="res/screen/android/hanu/drawable-port-ldpi-screen.png"      platform="android" density="port-ldpi" />
    <splash src="res/screen/android/hanu/drawable-port-mdpi-screen.png"      platform="android" density="port-mdpi" />
    <splash src="res/screen/android/hanu/drawable-port-hdpi-screen.png"      platform="android" density="port-hdpi" />
    <splash src="res/screen/android/hanu/drawable-port-xhdpi-screen.png"     platform="android" density="port-xhdpi" />
    <splash src="res/screen/android/hanu/drawable-port-xxhdpi-screen.png"    platform="android" density="port-xxhdpi" />
    <splash src="res/screen/android/hanu/drawable-port-xxxhdpi-screen.png"   platform="android" density="port-xxxhdpi" />

    <splash src="res/screen/ios/hanu/Default-568h@2x~iphone.png"           platform="ios" width="640"  height="1136" />
    <splash src="res/screen/ios/hanu/Default-667h.png"                     platform="ios" width="750"  height="1334" />
    <splash src="res/screen/ios/hanu/Default-736h.png"                     platform="ios" width="1242" height="2208" />
    <splash src="res/screen/ios/hanu/Default-Portrait@2x~ipad.png"         platform="ios" width="1536" height="2048" />
    <splash src="res/screen/ios/hanu/Default-Portrait~ipad.png"            platform="ios" width="768"  height="1024" />
    <splash src="res/screen/ios/hanu/Default@2x~iphone.png"                platform="ios" width="640"  height="960" />
    <splash src="res/screen/ios/hanu/Default~iphone.png"                   platform="ios" width="320"  height="480" />

    <plugin name="cordova-plugin-whitelist" spec="1" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <plugin name="phonegap-plugin-push" spec="~2.1.2">
        <variable name="FCM_VERSION" value="11.0.1" />
    </plugin>

    <engine name="android" spec="~7.0.0" />
    <engine name="ios" spec="~4.5.4" />

</widget>