<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79148117737-305ul7sqrrftmvnc15r4h63nlv0qntmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79148117737-305ul7sqrrftmvnc15r4h63nlv0qntmh</string>
	<key>API_KEY</key>
	<string>AIzaSyDtfrWqFd-vxevxQN6tMqqZhPSC-lgm5zo</string>
	<key>GCM_SENDER_ID</key>
	<string>79148117737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.inesn.inevo</string>
	<key>PROJECT_ID</key>
	<string>inevo-inevn</string>
	<key>STORAGE_BUCKET</key>
	<string>inevo-inevn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79148117737:ios:8faa52ef295844bb</string>
	<key>DATABASE_URL</key>
	<string>https://inevo-inevn.firebaseio.com</string>
</dict>
</plist>